<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<script type="text/javascript" src="../js/jquery-1.8.2.min.js"></script>
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/new.css">
	<script type="text/javascript" src="../js/index.js"></script>
	<title>体育</title>
	<style>
		.container{width: 1000px;margin:0 auto;overflow: hidden;}
		body>.wrap{height:100%}
		body>.wrap header.page{width:100%;height:56px;background:#fefefe;top:0;left:0;z-index:999}
		body>.wrap header.page .inset{width:1000px;height:56px;margin:0 auto;position:relative}
		body>.wrap header.page .inset .logo{font-size:24px;line-height:56px;float:left;}
		body>.wrap header.page .inset nav{float:right}
		body>.wrap header.page .inset nav ul li{display:inline-block;font-size:18px}
		body>.wrap header.page .inset nav ul li a{color:#333;text-decoration:none;font-size:18px;line-height:56px;padding:0 10px}
		body>.wrap>nav.side{position:fixed;right:10px;top:40%;z-index:999}
		body>.wrap>nav.side ul li{width:12px;height:12px;border:solid 1px #fff;border-radius:20px;margin-bottom:20px;cursor:pointer}
		body>.wrap>nav.side ul li.active{background:#fff}
	</style>
</head>
<body>
	<div class="wrap">
		<header class="page" style="display: block;">
			<div class="inset">
				<div class="logo"><img src="../img/logo1.png" style="height:56px;"></div>
				<nav>
					<ul>
						<li><a href="index.html">主页</a></li>
						<li><a href="moreActivity.html" target="_blank">运动</a></li>
						<li><a href="videos.html" target="_blank">酷炫视频</a></li>
						<li><a href="">论坛</a></li>
						<li><a href="" ><span class="top_atcivity">热门推荐</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="slide">
			<a id="btnLeft" href="javascript:void(0);" ></a>
			<a id="btnRight" href="javascript:void(0);" ></a>
			<ul>
				<li><img src="../img/icon1.jpg" alt="" /></li>
				<li><img src="../img/icon2.jpg" alt="" /></li>
				<li><img src="../img/icon3.jpg" alt="" /></li>
			</ul>
			<div id="ico" class="ico"> 
				<a class="active" href="javascript:void(0);"></a>
				<a href="javascript:void(0);"></a>
				<a href="javascript:void(0);"></a>
			</div>
		</div>

		<div class="container">
			<div class="mt30">
				<!-- 			<div class="ep-crumb"><h3 class="fl">热门推荐</h3><h4 class="fl">新闻</h4></div> -->
				<section id="news" style="">
					<h1>欧冠-苏牙内马尔补时破门 巴萨3-1尤文夺三冠王</h1>
					<div class="newsTime">2015-06-07 04:44:16　来源: 网易体育　 作者：远风</div>
					<div  class="ep-tie-share">

						<label class="ep-share-tip">分享到：</label>
						<div class="ep-share-top JS_NTES_LOG_FE" data-module-name="xwwzy_16_sns">
							<ul id="article_share14" class="nt-share14" data-url="new1.html" data-title="盘点习近平勉励高三学子的真情话语" data-pic="" data-digest="" >   
								<li class="nt-share-item" data-type="hot"><a href="javascript:;" target="_self" title="分享到网易热"><i class="nt-share-163hot"></i></a></li>   
								<li class="nt-share-item" data-type="yixin"><a href="javascript:;" target="_self" title="分享到易信"><i class="nt-share-yixin"></i></a></li>    
								<li class="nt-share-item" data-type="lofter-text" data-from="news" data-act="qbwbfx_20141018_02"><a href="javascript:;" target="_self" title="分享到LOFTER"><i class="nt-share-lofter"></i></a></li>       
								<li class="nt-wx2dcode-icon"><a href="javascript:;" target="_self" title="分享到微信"><i class="nt-share-weixin"></i></a></li>   
								<li class="nt-share-item" data-type="qzone"><a href="javascript:;" target="_self" title="分享到QQ空间"><i class="nt-share-qzone"></i></a></li>    
								<li class="nt-share-item" data-type="sinawb"><a href="javascript:;" target="_self" title="分享到新浪微博"><i class="nt-share-sinawb"></i></a></li>    
								<li class="nt-share-item" data-type="renren"><a href="javascript:;" target="_self" title="分享到人人网"><i class="nt-share-renren"></i></a></li>    
								<li class="nt-share-item" data-type="youdao"><a href="javascript:;" target="_self" title="收藏到有道云笔记"><i class="nt-share-youdao"></i></a></li>
							</ul>  
						</div>
					</div>
					<div id="endText" class="endText">
						<p>网易体育6月7日报道：
						</p>

						<p>北京时间6月7日凌晨2点45分，2014-2015赛季欧冠决赛在德国柏林的奥林匹克球场展开，本赛季西甲冠军巴塞罗那对决意甲4连冠得主尤文图斯，拉基蒂奇开场4分钟破僵局，莫拉塔补射为尤文扳平，苏亚雷斯打进制胜球，内马尔补时破门，巴萨3-1笑到最后，时隔4年再夺欧冠锦标，本赛季豪夺三冠王。
						</p>
						<p>两队曾经有过6次交锋，各取两胜，战平两次，尤文进6球丢7球。两队的6次交锋均来自于欧战淘汰赛，1985-1986赛季欧冠1/4决赛，巴萨两回合2-1淘汰尤文；1990-1991赛季优胜者杯办巨额赛，巴萨两回合3-2再灭尤文；2002-2003赛季欧冠1/4决赛，尤文两回合3-2淘汰巴萨。尤文欧战46次面对西甲对手，16胜12平18负，进52球丢50球，决赛3战1胜2负；巴萨欧战42次面对意甲球队，20胜13平9负，进68球丢43球，决赛5战2胜1平2负。
						</p>
						<p>双方都毫无意外地排出最强阵容，巴萨没有受到任何伤病及停赛的影响，尤文这边则缺少了主力中卫基耶利尼。进场前，两位阿根廷名将梅西及特维斯在球员通道内亲切交谈，双方的队长分别是伊涅斯塔及布冯。
						</p>
						<p>
							开场不到1分钟，尤文前场断球，特维斯弧顶前沿侧身凌空抽射打高，巴萨显得压力有点大。皮尔洛右侧角球发到点球点附近，埃弗拉甩头攻门顶偏。第4分钟，巴萨首次有威胁的进攻就取得进球，梅西分边，阿尔巴左路横传，内马尔将巴尔扎利吸引出禁区后敲给前插的伊涅斯塔，巴萨队长轻巧做球，跟进的拉基蒂奇无人盯防，面对布冯推射得手，1-0。巴萨取得梦幻开局。根据统计，巴萨的这次进攻在48秒内连续传递17次，充分显现出tikitaka足球的真谛。第7分钟，内马尔左侧沉底传中，皮球击中利希施泰纳的手臂，但恰基尔没有判罚点球。
						</p>
						<p>第8分钟，尤文错失良机，利希施泰纳后场直传，莫拉塔边路强突制造威胁，扣过阿尔巴后倒三角回做到弧顶附近，但比达尔的右脚劲射打高。巴萨立即还以颜色，内马尔禁区右侧得球起脚低射，皮球几乎是擦着们梁上燕飞出底线。第10分钟，比达尔吃到本场第一张黄牌。第13分钟，梅西左侧直塞，苏亚雷斯倒三角回做，阿尔维斯禁区前沿右脚爆射，被布冯神奇地单掌封出。第16分钟，拉基蒂奇左侧低平角球发到禁区内，阿尔巴前插凌空抢射稍偏。
						</p>
						<p>第24分钟，特维斯禁区内做球，莫拉塔在阿尔巴的干扰下左脚弧线球推偏。第25分钟，埃弗拉低平传中被挡出，莫拉塔断球回做，马尔基西奥禁区前沿右脚怒射稍高。第35分钟，阿尔巴禁区线前沿推倒博格巴，但恰基尔同样没有表示。第39分钟，梅西右路直塞，苏亚雷斯衔枚疾走禁区内起脚低射球门远端稍偏。第40分钟，巴萨卷土重来，博努奇解围不远，内马尔禁区边缘直接凌空射门，被布冯挡出底线。第41分钟，博格巴背后放倒梅西，吃到黄牌。第44分钟，比达尔及马尔基西奥接连两脚远射均被巴萨防线化解。上半场战罢，巴萨1-0领先。
						</p>
						<p>
							第48分钟，尤文角球被解围，巴萨发动5打3的快速反击，拉基蒂奇直塞，苏亚雷斯禁区左侧外脚背弹射，被布冯飞身挡出。第51分钟，梅西右路带球突破，连续跟内马尔及苏亚雷斯完成撞墙配合，禁区左侧起脚劲射稍高。第55分钟，尤文扳平比分，马尔基西奥中场送出绝妙的脚后跟传球，利希施泰纳右路突入禁区后横传，特维斯中路半转身低射被特尔施特根扑出，莫拉塔跟进补射得分，1-1。第58分钟，皮尔洛前场右路任意球斜传前点，莫拉塔头槌攻门稍高。第63分钟，莫拉塔右路横敲，马尔基西奥做球，特维斯禁区前沿右脚怒射打高。第65分钟，埃弗拉左路突破横传，博格巴同样尝试远射，被特尔施特根轻松没收。
						</p>
						<p>
							2014年8月29日，习近平主持召开中共中央政治局会议，审议通过了《关于深化考试招生制度改革的实施意见》。会议指出，要改革招生录取机制，减少和规范考试加分，完善和规范自主招生，完善高校招生选拔机制，改进录取方式，拓宽社会成员终身学习通道。
						</p>
						<p>第68分钟，巴萨再度领先，梅西策动高速反击，带球突破到禁区边缘起脚劲射，布冯横身将球扑出，苏亚雷斯拍马杀到，凌空补射空门得手，2-1。第70分钟，苏亚雷斯前场反抢犯规，吃到黄牌。第71分钟，阿尔巴左路挑传，内马尔中路跟进甩头攻门，皮球打中他的手，反弹进网，主裁判明察秋毫，进球无效。第75分钟，巴尔扎利背后拉倒内马尔，送给巴萨禁区前沿左侧的任意球机会，梅西左脚弧线球越过人墙，但没能给布冯构成威胁。第78分钟，哈维换下伊涅斯塔，迎来自己欧战乃至巴萨生涯的告别战。第79分钟，皮尔洛左侧角球发到后点，博格巴力压巴萨中卫头槌攻门高出，尤文同样调整，佩雷拉出场换下比达尔。
						</p>
						<p>第82分钟，布斯克茨右路底线传中，梅西禁区前沿挑传，皮克尤文腹地凌空扫射高出。第85分钟，略伦特出场换下莫拉塔。第86分钟，苏亚雷斯在与博努奇拼抢时倒地，似乎扭伤了膝盖。第89分钟，埃弗拉受伤，被科曼换下。第97分钟，巴萨快攻再下一城，内马尔禁区内低射建功，3-1。全场比赛战罢，巴萨取胜。
						</p>
						<p>
							尤文图斯（4312）：1-布冯；26-利希施泰纳、19-博努奇、15-巴尔扎利、33-埃弗拉（89'11-科曼）；8-马尔基西奥、21-皮尔洛、6-博格巴；23-比达尔（79'37-佩雷拉）；10-特维斯、9-莫拉塔（85'14-略伦特）
						</p>
						<p>
							巴塞罗那（433）：1-特尔施特根；22-阿尔维斯、3-皮克、14-马斯切拉诺、18-阿尔巴；4-拉基蒂奇、5-布斯克茨、8-伊涅斯塔（78'6-哈维）；10-梅西、9-苏亚雷斯、11-内马尔
						</p>
					</div>
				</section>
				<div class="ep-content-side" id="epContentRight">
					<img style="width:360px;" src="../img/icon4.jpg">
					<img style="width:360px;" src="../img/icon5.jpg">
					<img style="width:360px;" src="../img/icon6.jpg">
				</div>
			</div>
		</div>

		<footer>

			<span>Copyright ©2015 618伐木累</span>

		</footer>
	</div>
</body>
</html>