.ep-crumb {
  _display: inline;
  height: 27px;
  line-height: 29px;
  overflow: hidden;
}

#news {
	float:left;
	_display: inline;
	width: 590px;
	padding-right: 50px;
	border-right:1px solid #ddd;
}
#news h1{
	font-size: 26px;
	font-weight: bold;
	line-height: 31px;
	letter-spacing: -1px;
}

#news .newsTime{height: 49px;line-height: 49px;font-family: Arial, sans-serif;color: #888888;}

#endText p {
	font-size: 14px;
	text-indent: 2em;
	margin: 26px 0;
}

.ep-tie-share {
	height: 28px;
	padding: 0 0 30px 0;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.ep-share-tip {
	float: left;
	height: 28px;
	line-height: 28px;
	font-family: "Microsoft YaHei","微软雅黑", "宋体", sans-serif;
	color: #888888;
	font-size: 14px;
}

.ep-share-top {
	float: left;
}

.nt-share14 {
	overflow: hidden;
	list-style: none;
	margin: 0;
}

.nt-share14 li {
	float: left;
	margin-right: 3px;
}

.nt-share14 a:hover .nt-share-lofter {
	background-position: -40px -28px;
}

.nt-share14 i {
	cursor: pointer;
	display: inline-block;
	width: 40px;
	height: 28px;
	overflow: hidden;
	background: url(../img/share14_icon_v1.0.png);
}

.nt-share14 .nt-share-163hot {
	background: url(../img/share16_icon_v1.png) -280px 0;
}

.nt-share14 .nt-share-yixin {
	background-position: 0 0;
}

.nt-share14 .nt-share-lofter {
	background-position: -40px 0;
}

.nt-share14 .nt-share-weixin {
	background-position: -80px 0;
}

.nt-share14 .nt-share-qzone {
	background-position: -120px 0;
}

.nt-share14 .nt-share-sinawb {
	background-position: -160px 0;
}

.nt-share14 .nt-share-renren {
	background-position: -200px 0;
}

.nt-share14 .nt-share-youdao {
	background-position: -240px 0;
}

.ep-content-side {
	float: right;
	_display: inline;
	width: 355px;
}

#moreActivity a{font-size:14px;color:#555;}


