<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<script type="text/javascript" src="../js/jquery-1.8.2.min.js"></script>
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/new.css">
	<script type="text/javascript" src="../js/index.js"></script>
	<title>新闻</title>
	<style>
		.container{width: 1000px;margin:0 auto;overflow: hidden;}
		body>.wrap{height:100%}
		body>.wrap header.page{width:100%;height:56px;background:#fefefe;top:0;left:0;z-index:999}
		body>.wrap header.page .inset{width:1000px;height:56px;margin:0 auto;position:relative}
		body>.wrap header.page .inset .logo{font-size:24px;line-height:56px;float:left;}
		body>.wrap header.page .inset nav{float:right}
		body>.wrap header.page .inset nav ul li{display:inline-block;font-size:18px}
		body>.wrap header.page .inset nav ul li a{color:#333;text-decoration:none;font-size:18px;line-height:56px;padding:0 10px}
		body>.wrap>nav.side{position:fixed;right:10px;top:40%;z-index:999}
		body>.wrap>nav.side ul li{width:12px;height:12px;border:solid 1px #fff;border-radius:20px;margin-bottom:20px;cursor:pointer}
		body>.wrap>nav.side ul li.active{background:#fff}
	</style>
</head>
<body>
	<div class="wrap">
		<header class="page" style="display: block;">
			<div class="inset">
				<div class="logo"><img src="../img/logo1.png" style="height:56px;"></div>
				<nav>
					<ul>
						<li><a href="">主页</a></li>
						<li><a href="moreActivity.html" target="_blank">运动</a></li>
						<li><a href="videos.html" target="_blank">酷炫视频</a></li>
						<li><a href="">论坛</a></li>
						<li><a href="" ><span class="top_atcivity">热门推荐</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="slide">
			<a id="btnLeft" href="javascript:void(0);" ></a>
			<a id="btnRight" href="javascript:void(0);" ></a>
			<ul>
				<li><img src="../img/icon1.jpg" alt="" /></li>
				<li><img src="../img/icon2.jpg" alt="" /></li>
				<li><img src="../img/icon3.jpg" alt="" /></li>
			</ul>
			<div id="ico" class="ico"> 
				<a class="active" href="javascript:void(0);"></a>
				<a href="javascript:void(0);"></a>
				<a href="javascript:void(0);"></a>
			</div>
		</div>

		<div class="container">
			<div class="mt30">
				<!-- 			<div class="ep-crumb"><h3 class="fl">热门推荐</h3><h4 class="fl">新闻</h4></div> -->
				<section id="news" style="">
					<h1>盘点习近平勉励高三学子的真情话语</h1>
					<div class="newsTime">2015-06-06 19:43:55　来源: 人民网(北京)</div>
					<div  class="ep-tie-share">

						<label class="ep-share-tip">分享到：</label>
						<div class="ep-share-top JS_NTES_LOG_FE" data-module-name="xwwzy_16_sns">
							<ul id="article_share14" class="nt-share14" data-url="new1.html" data-title="盘点习近平勉励高三学子的真情话语" data-pic="" data-digest="" >   
								<li class="nt-share-item" data-type="hot"><a href="javascript:;" target="_self" title="分享到网易热"><i class="nt-share-163hot"></i></a></li>   
								<li class="nt-share-item" data-type="yixin"><a href="javascript:;" target="_self" title="分享到易信"><i class="nt-share-yixin"></i></a></li>    
								<li class="nt-share-item" data-type="lofter-text" data-from="news" data-act="qbwbfx_20141018_02"><a href="javascript:;" target="_self" title="分享到LOFTER"><i class="nt-share-lofter"></i></a></li>       
								<li class="nt-wx2dcode-icon"><a href="javascript:;" target="_self" title="分享到微信"><i class="nt-share-weixin"></i></a></li>   
								<li class="nt-share-item" data-type="qzone"><a href="javascript:;" target="_self" title="分享到QQ空间"><i class="nt-share-qzone"></i></a></li>    
								<li class="nt-share-item" data-type="sinawb"><a href="javascript:;" target="_self" title="分享到新浪微博"><i class="nt-share-sinawb"></i></a></li>    
								<li class="nt-share-item" data-type="renren"><a href="javascript:;" target="_self" title="分享到人人网"><i class="nt-share-renren"></i></a></li>    
								<li class="nt-share-item" data-type="youdao"><a href="javascript:;" target="_self" title="收藏到有道云笔记"><i class="nt-share-youdao"></i></a></li>
							</ul>  
						</div>
					</div>
					<div id="endText" class="endText">
						<p>又到一年高考季。“不经一番寒彻骨，怎得梅花扑鼻香”，2011年8月21日，时任国家副主席的习近平在参观四川都江堰市青城山高级中学时，用这句古诗词勉励高三学子。
						</p>

						<p>考试招生制度是国家基本教育制度，习近平总书记不仅在多次重要会议上提及招生改革，还曾经撰文专门讨论如何看待高考。
						</p>
						<p><strong>“珍惜学习机会 为人生积累能量”</strong></p>
						<p>“青年人好像是早上八九点钟的太阳，世界是你们的，也是我们的，但归根结底是你们的。”在都江堰青城山高级中学，时任国家副主席习近平同高三学子交流时，勉励学生们从现在做起，珍惜宝贵的学习机会，为人生积累能量。他希望学生们能很好地打下承担祖国未来希望的知识基础、能力基础和智力基础。
						</p>
						<p>
							习近平用一句歌词“不经历风雨，怎能见彩虹”和一句古诗“不经一番寒彻骨，怎得梅花扑鼻香”来勉励学生们。而他自己也有着为上大学而不断努力的人生经历。习近平在《我是黄土地的儿子》一文中回忆，当时他正在陕北插队，一边当村干部，一边总想着有机会上学深造。报考大学时，三个志愿都填报了清华。
						</p>
						<p><strong>“路就在脚下 留心处处皆学问”</strong></p>
						<p>该如何看待高考成绩？2003年7月11日，恰逢高考录取揭榜之际，时任浙江省委书记的习近平在《浙江日报》的《之江新语》专栏发表《路就在脚下》一文中说，“考上大学固然可喜，但没考上大学也不用悲观，更不能绝望。路就在脚下。一个人能否成才，关键不在于是否上大学，而在于他的实际本领。社会本身就是一个大学校，留心处处皆学问。只要你肯学习、能吃苦，没有读过大学，照样能成才。”
						</p>
						<p>
							终身学习的理念，习近平曾多次提及。他在中央全面深化改革领导小组第四次会议指出，要深化考试招生制度改革，总的目标是形成分类考试、综合评价、多元录取的考试招生模式，健全促进公平、科学选才、监督有力的体制机制，构建衔接沟通各级各类教育、认可多种学习成果的终身学习立交桥。
						</p>
						<p>
							2014年8月29日，习近平主持召开中共中央政治局会议，审议通过了《关于深化考试招生制度改革的实施意见》。会议指出，要改革招生录取机制，减少和规范考试加分，完善和规范自主招生，完善高校招生选拔机制，改进录取方式，拓宽社会成员终身学习通道。
						</p>
						<p><strong>重要讲话多次在高考试卷出现</strong></p>
						<p>记者梳理发现，在近两年的高考文综试题中，习近平的重要讲话多次作为考题出现。
						</p>
						<p>
							2014年高考文综试题新课标I卷中，“2014年3月27日，国家主席习近平在巴黎出席中法建交50周年纪念大会并发表重要讲话”出现在考卷，成为考查历史和政治知识的背景材料。习近平所强调的“重视培育和践行社会主义核心价值观”，也在该卷出现，成为重要考题。
						</p>
						<p>
							“2013年6月，中国国家主席习近平与美国总统奥巴马在美国举行‘庄园会晤’。两国元首就共同构建不冲突、不对抗、相互尊重、合作共赢的新型大国关系达成重要共识，国际社会对此充满期待。”这段文字，出现在2014年全国高考文科综合试题福建卷上。 此外，山东卷中，引用了习近平在访问印度尼西亚时提出的，关于中国与东盟关系的重要论述。
						</p>
						<p>
							2013年习近平同全国劳动模范代表座谈时的讲话，出现在当年的2013年高考文综试题新课标I卷试题中，考查学生的唯物史观。
						</p>
					</div>
				</section>
				<div class="ep-content-side" id="epContentRight">
					<img style="width:360px;" src="../img/icon4.jpg">
					<img style="width:360px;" src="../img/icon5.jpg">
					<img style="width:360px;" src="../img/icon6.jpg">
				</div>
			</div>
		</div>

		<footer>

			<span>Copyright ©2015 618伐木累</span>

		</footer>
	</div>
</body>
</html>