<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<script type="text/javascript" src="../js/jquery-1.8.2.min.js"></script>
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/new.css">
	<script type="text/javascript" src="../js/index.js"></script>
	<title>吐槽笑话</title>
	<style>
		.container{width: 1000px;margin:0 auto;overflow: hidden;}
		body>.wrap{height:100%}
		body>.wrap header.page{width:100%;height:56px;background:#fefefe;top:0;left:0;z-index:999}
		body>.wrap header.page .inset{width:1000px;height:56px;margin:0 auto;position:relative}
		body>.wrap header.page .inset .logo{font-size:24px;line-height:56px;float:left;}
		body>.wrap header.page .inset nav{float:right}
		body>.wrap header.page .inset nav ul li{display:inline-block;font-size:18px}
		body>.wrap header.page .inset nav ul li a{color:#333;text-decoration:none;font-size:18px;line-height:56px;padding:0 10px}
		body>.wrap>nav.side{position:fixed;right:10px;top:40%;z-index:999}
		body>.wrap>nav.side ul li{width:12px;height:12px;border:solid 1px #fff;border-radius:20px;margin-bottom:20px;cursor:pointer}
		body>.wrap>nav.side ul li.active{background:#fff}
	</style>
</head>
<body>
	<div class="wrap">
		<header class="page" style="display: block;">
			<div class="inset">
				<div class="logo"><img src="../img/logo1.png" style="height:56px;"></div>
				<nav>
					<ul>
						<li><a href="">主页</a></li>
						<li><a href="moreActivity.html" target="_blank">运动</a></li>
						<li><a href="videos.html" target="_blank">酷炫视频</a></li>
						<li><a href="">论坛</a></li>
						<li><a href="" ><span class="top_atcivity">热门推荐</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="slide">
			<a id="btnLeft" href="javascript:void(0);" ></a>
			<a id="btnRight" href="javascript:void(0);" ></a>
			<ul>
				<li><img src="../img/icon1.jpg" alt="" /></li>
				<li><img src="../img/icon2.jpg" alt="" /></li>
				<li><img src="../img/icon3.jpg" alt="" /></li>
			</ul>
			<div id="ico" class="ico"> 
				<a class="active" href="javascript:void(0);"></a>
				<a href="javascript:void(0);"></a>
				<a href="javascript:void(0);"></a>
			</div>
		</div>

		<div class="container">
			<div class="mt30">
				<!-- 			<div class="ep-crumb"><h3 class="fl">热门推荐</h3><h4 class="fl">新闻</h4></div> -->
				<section id="news" style="">
					<h1>冷笑话0001</h1>
					<div class="newsTime">2015-06-06 19:43:55</div>
					<div  class="ep-tie-share">

						<label class="ep-share-tip">分享到：</label>
						<div class="ep-share-top JS_NTES_LOG_FE" data-module-name="xwwzy_16_sns">
							<ul id="article_share14" class="nt-share14" data-url="new1.html" data-title="盘点习近平勉励高三学子的真情话语" data-pic="" data-digest="" >   
								<li class="nt-share-item" data-type="hot"><a href="javascript:;" target="_self" title="分享到网易热"><i class="nt-share-163hot"></i></a></li>   
								<li class="nt-share-item" data-type="yixin"><a href="javascript:;" target="_self" title="分享到易信"><i class="nt-share-yixin"></i></a></li>    
								<li class="nt-share-item" data-type="lofter-text" data-from="news" data-act="qbwbfx_20141018_02"><a href="javascript:;" target="_self" title="分享到LOFTER"><i class="nt-share-lofter"></i></a></li>       
								<li class="nt-wx2dcode-icon"><a href="javascript:;" target="_self" title="分享到微信"><i class="nt-share-weixin"></i></a></li>   
								<li class="nt-share-item" data-type="qzone"><a href="javascript:;" target="_self" title="分享到QQ空间"><i class="nt-share-qzone"></i></a></li>    
								<li class="nt-share-item" data-type="sinawb"><a href="javascript:;" target="_self" title="分享到新浪微博"><i class="nt-share-sinawb"></i></a></li>    
								<li class="nt-share-item" data-type="renren"><a href="javascript:;" target="_self" title="分享到人人网"><i class="nt-share-renren"></i></a></li>    
								<li class="nt-share-item" data-type="youdao"><a href="javascript:;" target="_self" title="收藏到有道云笔记"><i class="nt-share-youdao"></i></a></li>
							</ul>  
						</div>
					</div>
					<div id="endText" class="endText">
						<p>1.我和老婆在看《梁祝》 忧伤的音乐中梁和祝化作蝴蝶翩翩起舞，我不免被他们惊天地、泣鬼神的爱情感动，突然老婆问我：他们是白痴么？我：为什么。她一本正经说：蝴蝶生命只有7天，为什么要变蝴蝶穷得瑟呢？如果是我就变俩王八，这样结局才是完美的。
							我只想说变的时候不要叫上我。

						</p>

						<p>2.公交车上 一个美艳少妇带个一岁多的小男孩坐我后面 小家伙一直拿脚踢我后背 她就一个劲儿的训斥孩子 我回头说没事 她还冲我笑了笑 哈哈～感觉会有艳遇降临 直到她说了一句：不好意思哈 我给你钱买件新T恤吧 孩子刚才不小心踩屎上了……
						</p>
						<p>3.这辈子做过的最刺激的事就是邻居家的狗正在爱爱时我用竹竿捅了它屁股一下，那叫声，凄惨啊，结果每天上学它都送我到学校，那两个星期过得太刺激了，二十分钟的路程，几分钟就到了
						</p>
						<p>4.妈妈对儿子说：感冒了，要多喝水。

							儿子一脸疑惑。

							他妈妈说：别装了，床头那么多鼻涕纸 还说没感冒。【可可】

						</p>
						<p>
							5.饭局间，校长非让我找几个女学生来陪酒助兴，可身为教师的我怎能做出这种伤天害理的事呢。焦急间，我来到外面的大厅，见坐台的几个小姐长得挺青春的。於是上前让她们跟我走，台费按平时两倍收，唯一要求就是她们从头到尾必须说自己是电影学院的学生，不料几个小姐喜极而泣道∶『大哥，你算真找对人了，我们就是电影学院的啊！！！
						</p>
						<p>
							6.老公：老婆，早上我在门口捡了一百块钱。老婆：快点还我，那是我掉的。老公：可是，是二张五十的哦。老婆：啊，居然摔成零钱了，还是我的。老公……
						</p>
						<p>7.室友望了望宿舍窗外，问我这么冷的天还大风大雨，好痛苦啊，我们还去上课吗？

							我说：风雨中 这点痛算什么，擦干泪，不要怕，至少我们还有梦。

							室友被触动了：对，我们还有梦，于是倒头又睡了。 

						</p>
						<p>
							8.韩六嫖娼被抓获，检查写了五千多字，经过和动作写得十分详细，pol.ice不耐烦，让他言简意赅，他重写道：我在巴掌大的地方，犯了天大的错误。
						</p>
						<p>
							9.吃完火锅后记得喝点酸奶，避免伤胃，吃完烧烤后记得吃跟香蕉，避免伤喉咙，最重要的一点，无论吃完什么，记得付钱，避免伤身。
						</p>
						<p>10.妻子下班回家忘记带钥匙，就喊老公开门。

							老公就逗她：“请输入密码。”

							老婆说：“我是你女人！”

							老公：“密码错误，请重新输入！”

							老婆：“你欠扁啊！”

							老公：“密码正确，登录成功。”
						</p>
						<p>
							11.二战期间一士兵满头大汗对司令出了一个yeah的手势，司令激动地说：我们胜利了？士兵：没有，就剩我们俩个了！
						</p>
						<p>

							12.今天在路边上听见这么一段对话，一个女孩子在买内衣。

							“有再小一点的吗？

							“真的没有了，这已经是最小的了。”

							这是一段悲伤的对话。
						</p>
						<p>
							13.一网友发帖说；“我三十多了觉得自己老了怎么办！！！”

							一回复亮拉：“马上去死，然后所有人都会说你‘年纪轻轻就没了’。”
						</p>
						<p>
							14.老公：“亲爱滴，俺明天要和人一起出差！”老婆：“和谁一起？”老公：“和俺领导滴媳妇儿，俺领导专门儿指定了俺。”老婆：“为嘛你们领导让你和他媳妇一起出差？”老公：“俺领导说‘全公司就你长了一张安全滴脸！’”
						</p>
						<p>15.昨天跟一个二货朋友去博物馆，正在看老祖宗留下的锅碗瓢盆呢， 就听哐当一声，二货朋友把一个瓷器打碎了。。。

							导游惊呼那可是500年前的玉器啊！！！

							只见二货淡淡的说：“考，吓老子一跳，我还以为是新的呢！”
						</p>
						<p>16.不要当着苍蝇的面儿拉屎，它会觉得你是在炫富。
						</p>
						<p>17.上课的时候老师让我同桌站起来回答问题，他站起来说：“老师。。。我。。我不会。”

							老师：“你能不能像个男子汉一样。”

							结果这货来了句：“这道题老子不会！”
						</p>
						<p>18.街上遇见一对双胞胎姑娘。穿的那个清凉啊，笑的那个甜啊……忍不住要去搭讪。为不表现的轻浮和唐突，在心中默念了好几遍准备好的台词才走凑上去对她俩说：你们谁想做我小姨子？
						</p>
						<p>19.毛主席离开有多久了？我刚翻了下钱包。不知不觉中，他离开已经3天了。
						</p>
						<p>20.我朋友说他的女神长得像女优。我说这有什么，我女朋友长得还像葛优呢。
						</p>

					</div>
				</section>
				<div class="ep-content-side" id="epContentRight">
					<!-- article right main model -->
					<!-- 页内画中画A -->
					<div class="gg300">
						<iframe src="http://g.163.com/r?site=netease&amp;affiliate=news&amp;cat=article&amp;type=logo300x250&amp;location=11" width="300" height="250" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"> </iframe>
					</div>
					<span class="blank20"></span>
					<!--页内画中画03 -->
					<!-- -->
					<iframe scrolling="no" frameborder="0" src="http://x.jd.com/exsites?spread_type=2&amp;ad_ids=21:5&amp;location_info=0&amp;callback=getjjsku_callback" marginwidth="0" marginheight="0" style="width:300px;height:250px;"></iframe>
				</div>
			</div>
		</div>

		<footer>

			<span>Copyright ©2015 618伐木累</span>

		</footer>
	</div>
</body>
</html>